<?php
return array(
    'adminpass' => '', //Password for admin features
    'k_c' => '', //CAPTCHA keys
    'k_p' => '',
    'k_h' => '',
	'mysql_server' => '',
	'mysql_user' => '',
	'mysql_pass' => '',
	'mysql_db' => '',
);
?>